
@model SistemaVendas.Models.ViewModels.ProdutoFormViewModel

@{
    ViewData["Title"] = "Cadastro de Produtos";
}

<h2>@ViewData["Title"]</h2>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Produto" asp-action="Cadastro">

            <div class="form-group">
                <label>Nome</label>
                <input asp-for="produto.Nome" type="text" class="form-control" />
                <span asp-validation-for="produto.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Descrição</label>
                <input asp-for="produto.Descricao" type="text" class="form-control" />
                <span asp-validation-for="produto.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Valor Unitário</label>
                <input asp-for="produto.VlUnitario" type="text" class="form-control" value="0,00" />
                <span asp-validation-for="produto.VlUnitario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Quantidade</label>
                <input asp-for="produto.Quantidade" type="text" class="form-control" />
                <span asp-validation-for="produto.Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Unidade de Medida</label>
                <select asp-for="produto.MedidasId" asp-items="@(new SelectList(Model.medidas ,"id", "medida"))" class="form-control"></select>
                <span asp-validation-for="produto.MedidasId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Link Foto</label>
                <input asp-for="produto.LinkFoto" type="text" class="form-control" />
                <span asp-validation-for="produto.LinkFoto" class="text-danger"></span>
            </div>

            <button type="submit" class=" btn btn-block btn-success">Cadastrar</button>
        </form>
    </div>
</div>




